services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    environment:
      # file watching when using bind mounts in Docker
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - .:/app
      # keep container deps/build output, don't overwrite with host
      - /app/node_modules
      - /app/.next
